@font-face {
  font-family: 'Fleur de Leah';
  src: url('./FleurDeLeah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.titlu-fleur {
  font-family: 'Fleur de Leah', cursive, serif;
  font-size: 26px; 
  font-weight: 500;
  letter-spacing: 5px;
}

span{
  @apply text-b4
}

