@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  --color-b1: 46 80 119; /*- dark blue */
  --color-b2: 77 161 169; /* teal */
  --color-b3: 121 215 190; /* mint green */
  --color-b4: 246 244 240; /* off-white */
  --color-b5: 233 234 119; /*- lime */
  --color-d1: 255 233 154; /* galben deschis */
  --color-d2: 255 213 134; /* galben auriu */
  --color-d3: 255 170 170; /* roz pal */
  --color-d4: 255 152 152; /* roz intens */



--color-z-4: 255 235 59;  /* mov lavandă */ 
--color-z-2: 255 193 7;   /* galben auriu intens */
--color-z-3: 30 136 229;  /* albastru ocean */
--color-z-1: 156 39 176;   /* galben deschis luminos */
}




@font-face {
  font-family: 'Tomorrow-Black';
  src: url('./Font/Tomorrow-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Fleur de Leah';
  src: url('./Header/FleurDeLeah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  h1 {
  @apply text-lg sm:text-xl md:text-xl lg:text-2xl font-extralight leading-tight stardos-stencil-regular;
  letter-spacing: 1px;
   font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
}

 
  p {
    @apply text-base sm:text-lg md:text-xl lg:text-xl leading-relaxed;
  }
}

li{
  @apply text-xl
}


.stardos-stencil-regular {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
}

.stardos-stencil-bold {
  font-family: "Stardos Stencil", system-ui;
  font-weight: 700;
  font-style: normal;
}
